/* Mobile first CSS model */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    line-height: 1.5;
    text-align: center;
}

/* header */

header{
    width: 100%;
    font-size: 18px;
    height: 80px;
}
.container{
    position: fixed;
    width: 100%;
    height: 80px;
    background: white;
    border-bottom: #3359df solid 5px;
}
.logo-and-menu{
    width: 100%;
    height: 100%;
    padding: 7.5px;
    float: left;
}
.logo{
    float: left;
    width: 100px;
    height: 100%;
    background: url(../assets/logo.png);
    background-position: center;
    background-size: cover;
}
.menu{
    float: right;
    margin-top: 20px;
}
.menu:hover{
    cursor: pointer;
}
.menu div{
    background: #0067fc;
    width: 30px;
    height: 4px;
    margin: 5px;
    border-radius: 2em;
    transition: 0.3s ease;
}
.line3{
    margin-top: -9px !important;
}
.navigation{
    text-align: left;
    background: #1353b4;
    height: 100%;

    margin: 0px;
    float: none;
    max-width: 300px;
    position: fixed;
    top: 80px;
    bottom: 0;
    left: -300px;
    transition: 0.5s ease;

}
.navigation ul{
    list-style: none;
    width: 100%;
    height: 100%;
}
.navigation li{
    width: 100%;
    height: 40px;
}
.navigation li a{
    display: inline-block;
    text-decoration: none;
    color: white;
    width: 100%;
    padding: 5px 100px 0 15px;
}
.navigation a:hover{
    color: rgb(0, 230, 0);
    background: #0d418f;
    box-shadow: -.3rem .5rem .2rem rgba(0, 0, 0, .2);
}
.navigation a:active{
    color: rgb(37, 158, 37);
}

/* Section area */

section{
    background: url(../assets/join.jpg);
}
.background{
    padding: .7rem;
    display: grid;
    grid-template-columns: 1fr;
    background: rgba(0, 0, 0, 0.8);
}
.section1{
    color: white;
}
.section1 h1{
    max-width: 400px;
    padding: 25px;
}
.section2{
    background: white;
    max-width: 380px;
    border-radius: 6px;
    padding: .7em;
    margin-bottom: 200px;

}
.section2 .small-logo{
    padding: 0;
    height: 30px;
    width: 50px;
    background: url(../assets/logo.png);
    background-position: center;
    background-size: cover;
}
.section2 h2{
    margin-top: 10px;
    color: #0067fc;
}
.section2 input{
    outline: none;
    width: 100%;
    border: none;
    font-size: 1em;
    border-bottom: 0.1px  solid #0067fc;
    padding-top: 20px;
    font-family: 'Lato', sans-serif;
    padding-bottom: 15px;
    margin-bottom: 10px;
    font-size: 16px;
}
.section2 input[type="submit"]{
    border: none;
    color: white;
    font-size: 1em;
    font-weight: bold;
    background: #0067fc;
    border-radius: 5px;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(27,31,35,.5);
}
.section2 input[type="submit"]:hover{
    background: #005bda;
}
.section2 input[type="submit"]:active{
    transform: scale(0.95)
}
.section2 p{
    text-align: start;
    margin-top: 20px;
    font-size: 0.8em;
}
.section2 a{
    color: #0067fc;
    text-decoration: none;
}
.section2 a:hover{
    text-decoration: underline;
}

/* Footer */

footer{
    color: white;
    height: 80px;
    background: #3359df;
    text-align: center;
    padding: 40px 0;
}
.cross .line2{
    transform: rotate(45deg)
}
.cross .line3{
    transform: rotate(-45deg)
}
.cross .line1, .cross .line4{
    opacity: 0;
}
.slide{
    left: 0px;
}





@media only screen and (min-width: 700px){

    /* Header */

    header{
        height: 110px;
    }
    .container{
        position: unset;
        width: 100%;
        height: 110px;
        background: white;
        border-bottom: #3359df solid 5px;
    }
    .logo-and-menu{
        width: 174.5px;
        margin-right: 20px;
    }
    .logo{
        float: left;
        width: 100%;
        height: 100%;
        background: url(../assets/logo.png);
        background-position: center;
        background-size: cover;
    }
    .menu{
        display: none !important;
    }
    .navigation{
        padding: 0;
        float: right;
        position: static;
        background: unset;
        max-width: unset;
        top: unset;
    }
    .navigation ul{
        padding-top: 30px;
        list-style-type: none;
        width: unset;
        height: unset;
        overflow: unset;
    }
    .navigation li{
        width: unset;
        float: left;
        margin-right: 40px;
        padding-top: 20px;.

    }
    .navigation li a{
        text-decoration: none;
        color: #3359df;
        padding: 5px 10px;
    }
    .navigation a:hover{
        border-radius: 2em;
        box-shadow: 0 .5rem .3rem rgba(0, 0, 0, .3);
        background: unset;
    }
    .navigation a:active{
        font-size: 17px;
        margin-left: 2.78px;
    }

    /* Section area */

    .background{
        grid-template-columns: 1fr 1fr;
        padding-top: 50px;
    }
    .section1 h1{
        padding: 50px;
    }
    .section2{
        margin-top: 50px;
        margin-bottom: 520px;
    }
}